{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Follows - {{ user.username }}</h1>

                <p>Num: {{ user.lannisterian.follows.count }}</p>
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                {% for lannisterian in user.lannisterianprofile.follows.all %}
                    <p><a href="{% url 'lannisterianprofile' lannisterian.user.username %}">{{ lannisterian.user.username }}</a></p>
                {% empty %}
                    {% if request.user == user %}
                        <p>Sorry, you don't folow anyone!</p>
                    {% else %}
                        <p>{{ user.username }} is not following anyone!</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}